{% extends "base.html.twig" %}

{% block body %}


<div class="text-center">
    <h1 >Welcome {{ app.user ? app.user.name:"Friend" }}</h1>
    <h3 class=" text-danger"> WITH GREAT POWER COMES GREAT RESPONSIBILITY!! </h3>
    <h4 class="my-5 text-warning">This Place is kept for dashboard</h4>

</div>
{% endblock %}
